body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
}
@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav-link{
    text-decoration: underline;
}
.container {
    width: auto !important;
    padding: 0 0 2em 0;

  }
.centered{
    display: flex;
    justify-content: center;
}
.gallery-item{
    border: solid 5px rgb(23, 23, 27);
    border-radius: 5%;
    background-color: rgb(54, 56, 65);
    transition: transform 0.2s ease-in-out;
}
.gallery-item:hover{
    transform: scale(1.025);
}
img{
    border-radius: 7px;
    text-align: center;
    width: 92%;
}
.row {
    --bs-gutter-x: 0;
}