body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center !important;
}

@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
img:hover {
    transform: scale(1.1);
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.container {
    width: auto !important;
    padding: 0 0 2em 0;
  }
.nav-link{
    text-decoration: underline;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(36, 36, 36);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(60, 60, 60);
  }
  ol {
    list-style:decimal;
    display: inline-block;
    line-height: 32px;
    font-weight: bold;
    text-align: left;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
}

.gallery-item {
    position: relative;
    width: 25%;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.gallery img {
    margin: auto;
    height: 300px;
}
@media only screen and (max-width: 767px) {
    .gallery img {

        max-height: 185px;
  }
}