body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center !important;
}

@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
img {
    width: 5em;
    background-color: rgb(68, 68, 68);
    animation: pulse 5s infinite;
    transition: transform 0.1s ease-in-out;
    border: 0.35em solid rgb(54, 54, 54);
    border-radius: 10em;
    position:relative;
    margin: 1em 0 0 0;
}
img:hover {
    transform: scale(1.1);
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.container {
    width: auto !important;
    padding: 0 0 2em 0;
  }
.nav-link{
    text-decoration: underline;
}